/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*background:linear-gradient(#F89174, #FFC778);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
 * STYLES
 */
.App {
	width: 100%;
	padding: 10px 50px;
	background: #fff;
	opacity: 0.8;
}

.manipulate {
	width: 760px;
	max-width: 760px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.manipulate__node {
	margin: 10px 20px;
}

.nodeWrapper {
	padding: 10px;
}

.manipulate__node--wave {
	margin: 20px;
}

.range-label {
	display: inline-block;
	width: 150px;
}

.confirm-btn {
	display: block;
	margin: 20px auto;
}

.screen {
	height: 400px;
}

.save-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.save__title {
	margin-bottom: 20px;
}
.save__input {
	margin-top: 10px;
}
.save__actions {
	display: flex;

}
.save__save-btn {
	display: block;
	margin: 20px auto;
}

.patches-btn {
	position: absolute;
	bottom: 20px;
	right: 140px;
}

.patch-list {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	width: 500px;
}

.patch-list__spacer {
	width: 88px;
}

.patch-list__name {
	width: 206px;
	text-overflow: ellipsis;
}

.patch-list__author {
	width: 206px;
	text-overflow: ellipsis;
}

.paginator {
	width: 400px;
	display: flex;
	margin: 20px auto;
	justify-content: space-between;
}

.paginator__prev {
	font-weight: 600;
}

.paginator__prev>a {
	text-decoration: none;
	color: black;
}
.paginator__next {
	font-weight: 600;
}

.paginator__next>a {
	text-decoration: none;
	color: black;
}
